

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow-x: hidden;
}
a {
	text-decoration: none;
}
*:focus {
    outline: none;
}
.search_body {
	width: 100%;
	height: 680px;
	 animation: myanimation 60s infinite;
}
@keyframes myanimation {
  0% {
		background: linear-gradient(to right,  #240b36, #c31432);
		-webkit-transition: background-image 1000ms linear;
		transition: all .5s ease;
		-webkit-transition: all 1s ease;
		
  }
    25%{
		background-image: linear-gradient(to right, #540E1F, #6E2333);
		transition: all 1s ease;
		-webkit-transition: all 1s ease;
		
  }
    50%{
		background-image: linear-gradient(to right, #373B44, #4286f4);
		transition: all 1s ease;
		-webkit-transition: all 1s ease;
		
  }
    75%{
		background-image: linear-gradient(to right, #323232, #0f9b0f);
		transition: all 1s ease;
		-webkit-transition: all 1s ease;
		
  }
    100% {
		background-image: linear-gradient(to right, #8E0E00, #1F1C18);
		transition: all 1s ease;
		-webkit-transition: all 1s ease;
		
  }
}

.header_top {
	border: 0px solid green;
	width: 90%;
	max-width: 1400px;
	margin: 0 auto;
	padding: 30px 0 20px 0;
	position: absulate;
}

.header_text {
	border: 0px solid red;
	float: right;
}
.header_top .header_join {
	margin: 0 0 0 20px;
	color: #fff;
	font-size: 14px;
	border: 1px solid #fff;
	padding: 6px 20px;
	border-radius: 4px;
	font-family: "Roboto-Medium";
}
.header_top .header_join:hover {
	border: 1px solid #fd7801;
	background-color: #fd7801;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
}
.h_text_a {
	font-family: "Roboto-Medium";
	font-size: 17px;
	color: #fff;
	margin: 0 0 0 20px;
	text-shadow: 1px 1px 2px #000;
}
.h_text_a:hover {
	text-shadow: 2px 2px 5px #000;
}
/* Chacha ata logo ar css suru*/
.header_image {
	border: 0px solid red;
	width: 120px;
	float: left;
	margin-top: -8px;
}
.header_logo {
	color: #fff;
	font-family: "Roboto-Bold";
	font-size: 30px;
	text-shadow: 1px 1px 2px #000;
}
.header_logo span {
	color: #000;
	margin: 0 -3px 0 -6px;
}
/*header body element*/
.header_body_element {
	width: 90%;
	max-width: 1400px;
	margin: 120px auto 0 auto;
	height: 500px;
	border: 0px solid #000;
	z-index: 0;
}
/*search*/
.search_form {
	border: 0px solid #000;
	padding: 0px;
	margin: 0;
}
.search_form input {
	font-family: "Roboto-Medium";
	font-size: 15px;
	color: #323232;
	padding: 13px;
	border: 1px solid transparent;
	width: 550px;
	border-radius:  4px 0 0 4px ;
}
.search_form button {
	font-family: "Roboto-Medium";
	font-size: 15px;
	color: #fff;
	background-color: #fd7801;
	padding: 13px 25px !important;
    border: 1px solid transparent;
	border-radius: 0 4px 4px 0;
	cursor: pointer;
}
.search_form button:hover {
	background-color: #dd7401;
}
/*search end*/
/*Popular header*/
.popular_header {
	color: #fff;
	font-family: "Roboto-Medium";
	font-size: 14px;
	border: 0px solid #fff;
	margin: 25px 0 0 0;
}
.popular_header ul {
	list-style-type: none;
	display: inline;
	margin: 0px;
	padding: 0px;
}
.popular_header ul li {
	display: inline;
	margin: 0px 2px;
	padding: 0px;
}
.popular_header ul li a {
	color: #fff;
	padding: 2px 10px;
	border: 1px solid #fff;
	border-radius: 100px;
}
.popular_header ul li a:hover {
	color: #323232;
	background-color: #fff;
	border: 1px solid transparent;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
}
#img_change_width {
	border: 0px solid black;
	overflow: hidden;
	margin-top: -320px;
	float: none;
}
#img_change_home {
  border: 0px solid black;
  width: 550px;
  height: 550px;
  float: right;
  background: url(3.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
@keyframes imganimation {
  0% {
		background: url(css/image/3.png);
		background-repeat: no-repeat;
		background-size: 300px 100px;
		transition: all .5s ease;
		-webkit-transition: all 1s ease;
		
  }
    25%{
		background: url(css/image/3.png);
		background-repeat: no-repeat;
		background-size: 300px 100px;
		transition: all 1s ease;
		-webkit-transition: all 1s ease;
		
  }
    50%{
		background-image: linear-gradient(to right, #373B44, #4286f4);
		transition: all 1s ease;
		-webkit-transition: all 1s ease;
		
  }
    75%{
		background-image: linear-gradient(to right, #323232, #0f9b0f);
		transition: all 1s ease;
		-webkit-transition: all 1s ease;
		
  }
    100% {
		background-image: linear-gradient(to right, #8E0E00, #1F1C18);
		transition: all 1s ease;
		-webkit-transition: all 1s ease;
		
  }
}
.fDOUhz0 {
    position: absolute;
    width: 50px;
	height: 55px;
    right: 95px;
    z-index: 10;
	display: none;
}
/*Popular header end*/
/*Location*/
.h_location {
	margin: 25px 5px;
}
.h_location .all_lo_name {
	color: #fff;
	border: 1px solid #fff;
	padding: 5px 30px;
	border-radius: 4px;
	font-family: "Roboto-Medium";
	font-size: 15px;
}
.h_location .all_lo_name:hover {
	color: #323232;
	background-color: #fff;
	border: 1px solid transparent;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
}
/*Search body text*/
.h_text_search {
	font-family: "Roboto-Bold";
	font-size: 50px;
	max-width: 600px;
	color: #fff;
	margin: 0 0;
}